* {
  box-sizing: border-box;
  margin: 0;
}



.navigationLoginContainer {
  display: flex;
  height: 100px;
  border: none;
  justify-content: center;
  gap: 15px;
  align-items: center;
  border: 1px solid black;
}
.loginContainer {
  background-color: orange;
  width: 30%;
  height: 355px;
  transform: translate(120%, 100%);
  position: relative;
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.lsuCampusImg {
  width: 100%;
}
.footerLoginContainer {
margin-top: 215px;
}

